@use "../global-sass/vars";

.EntryForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 50px;

  &-err {
    color: vars.$radical-red;
    font-size: 1.4rem;
  }

  &-field {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    border-bottom: 2px dashed vars.$roman-silver;
    margin: 64px auto 16px;

    input {
      z-index: 2;
      outline: none;
      border: none;
      overflow: hidden;
      margin: 0;
      width: 100%;
      padding: 4px 0;
      background: none;
      font-weight: bold;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &[type="number"] {
        -moz-appearance: textfield;
      }
    }

    label {
      position: absolute;
      transform: translateY(7px);
      transform-origin: 0;
      left: 0;
      width: 100%;
      line-height: 1.2;
      pointer-events: none;
      transition: all 400ms ease;
    }

    input:not(:placeholder-shown) + label {
      transform: scale(0.8) translateY(-3rem);
    }

    &::after {
      content: "";
      position: relative;
      display: block;
      height: 4px;
      width: 100%;
      background-color: vars.$amethyst;
      transform: scaleX(0);
      transform-origin: 0;
      transition: all 500ms ease;
      top: 2px;
    }

    &:focus-within {
      border-color: transparent;

      label {
        transform: scale(0.8) translateY(-3rem);
      }

      &::after {
        transform: scaleX(1);
      }
    }
  }

  &-btns {
    transform: translateY(15px);
    align-self: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }
}
