@use "vars";
.start {
  justify-self: start;
}

.center {
  justify-self: center;
}

.end {
  justify-self: end;
}

@media (max-width: 900px) {
  .start,
  .center,
  .end {
    justify-self: start;
  }
}

.btn {
  padding: 15px 50px;
  background: linear-gradient(
      45deg,
      vars.$true-blue 0%,
      vars.$amethyst 55%,
      vars.$true-blue 90%
    )
    90% 0;
  background-size: 200% 200%;
  color: vars.$light-gray;
  border-radius: 50px;
  border: transparent;
  transition: all 400ms ease;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
    background-position: 0 0;
  }

  &:active {
    background-position: 0 0;
  }
}

@media (max-width: 900px) {
  .btn {
    padding: 10px 25px;
  }
}
