$corn: hsla(55, 84%, 69%, 1);
$radical-red: hsla(349, 100%, 63%, 1);
$true-blue: hsla(223, 49%, 49%, 1);
$teal: hsla(178, 60%, 32%, 1);
$raisin-black: hsla(235, 17%, 12%, 1);
$roman-silver: hsla(222, 6%, 54%, 1);
$light-gray: hsla(0, 0%, 97%, 1);
$white: hsla(0, 0%, 100%, 1);
$amethyst: hsla(261, 54%, 60%, 1);
