@use "../global-sass/vars";

.Auth {
  background-color: vars.$white;
  padding: 0 0 50px;
  width: clamp(300px, 50%, 900px);
  height: auto;
  margin: 200px auto auto;

  &-state {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &-btn {
    position: relative;
    border: none;
    outline: none;
    background-color: vars.$white;
    align-self: center;
    font-weight: 400;
    padding: 15px 0;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 4px;
      display: block;
      background-color: vars.$amethyst;
      transform: scaleX(0);
      transition: all 500ms ease;
    }

    &#active::before {
      transform: scaleX(1);
    }

    &-login::before {
      transform-origin: 100%;
    }
    &-signup::before {
      transform-origin: 0;
    }
  }
}

.AuthForm {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 20px;

  &-err {
    color: vars.$radical-red;
    font-size: 1rem;

    &-check {
      color: vars.$teal;
    }
  }

  &-field {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    border-bottom: 2px dashed vars.$roman-silver;
    margin: 0 auto;
    padding-top: 40px;

    input {
      z-index: 2;
      outline: none;
      border: none;
      margin: 0;
      width: 100%;
      padding: 4px 0;
      background: none;
      font-weight: bold;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &[type="number"] {
        -moz-appearance: textfield;
      }
    }

    label {
      position: absolute;
      transform: translateY(7px);
      transform-origin: 0;
      left: 0;
      width: 100%;
      line-height: 1.2;
      pointer-events: none;
      transition: all 400ms ease;
    }

    input:not(:placeholder-shown) + label {
      transform: scale(0.8) translateY(-2rem);
    }

    &::after {
      content: "";
      position: relative;
      display: block;
      height: 4px;
      width: 100%;
      background-color: vars.$amethyst;
      transform: scaleX(0);
      transform-origin: 0;
      transition: all 500ms ease;
      top: 2px;
    }

    &:focus-within {
      border-color: transparent;

      label {
        transform: scale(0.8) translateY(-2rem);
      }

      &::after {
        transform: scaleX(1);
      }
    }
  }
}
@media (max-width: 700px) {
  .AuthForm {
    input:not(:placeholder-shown) + label {
      transform: scale(0.8) translateY(-1.5rem);
    }

    &-field {
      margin: 0 auto;
      padding-top: 20px;

      &:focus-within {
        label {
          transform: scale(0.8) translateY(-1.5rem);
        }
      }
    }
  }
}
